*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(100, 95, 95);
}

.tudo{
    background-color: rgba(243, 252, 250, 0.973);
    width: 1260px;
    height: 100vh;
    margin: auto;
}

a{
    text-decoration: none;
    outline: 0;
}

/*Barra de rolagem------------------------------------------------------------*/

body::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(236, 234, 234);
}

body::-webkit-scrollbar-thumb{
    background-color: black;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: gray;
}

body::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}

/*Cabeçalho----------------------------------------------------------------------------------*/

.aba{
    width: 30%;
    height: 100%;
    margin: 0; 
    padding: 0;
    float: left;
    background-color: #2096f7;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.logo{
    display: flex;
    margin-left: 45px;
    margin-bottom: 70px;
}

.img-logo{
    width: 100px;
}

.logo h2{
    padding-top: 40px;
    margin-left: -10px;
}

li a{
    color: black;
    font-size: 25px;
    margin-left: 40px;
}

li{
    margin-top: 40px;
}

ul{
    list-style-type: none;
    margin-left: 40px;
}

i{
    margin-right: 20px;
}

.fa-edit, .fa-chart-pie{
    margin-left: 5px;
}

li a:hover{
    color: #6cb6f3;
}


.pag a{
    color: #6cb6f3;
}

/*Corpo-------------------------------------------------------------------------*/

.conteudo{
    padding-top: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.conteudo h1{
    text-align: center;
}

h1{
    margin-bottom: 50px;
}

.fnc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 60px;
}

.card{
    border: 1px solid #555;
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-right: auto;
    padding-top: 40px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #555;
}

.card:hover{
    transform: translateY(-5px);
}

.icon-card{
    font-size: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
}