
/*TAGS*/

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Roboto', sans-serif;
        background-color: rgb(64, 82, 95);
    }

    a{
        text-decoration: none;
        outline: 0;
    }

/**/

/* BARRA DE ROLAGEM */

    body::-webkit-scrollbar{
        max-width: 6px;
        max-height: 6px;
        z-index:5;
    }

    body::-webkit-scrollbar-thumb{
        background-color: rgb(53, 52, 52);
        border-radius: 10px;
        z-index:4;
    }

    body::-webkit-scrollbar-thumb:hover{
        background-color: rgb(92, 91, 91);
    }

    body::-webkit-scrollbar-button{
        width: 0;
        height: 0;
    }

/**/

/* CABEÇALHO */

    .aba{
        width: 30%;
        height: 100%;
        min-height: 700px;
        padding: 0 !important;
        border-radius: 10px;
        float: left;
        background-color: #2096f7;
        z-index:4;
    }

    .img-logo{
        width: 100px;
    }

    .logo{
        display: flex;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 50px;
    }

    .logo h2{
        padding-top: 40px;
        margin-left: -10px;
    }

    li a{
        color: black;
        font-size: 25px;
        margin-left: 40px;
    }

    li{
        margin-top: 40px;
    }

    li a:hover{
        color: #6cb6f3;
    }

    ul{
        list-style-type: none;
        margin-left: 40px;
    }

    i{
        margin-right: 20px;
    }

    .fa-edit, .fa-chart-pie{
        margin-left: 5px;
    }

    .pag a{
        color: #6cb6f3;
    }

    .nav-text{
        display:inline;
    }
    
    .menunav{
            display:none;
    }

    .navitem{
        display:flex;
    }
    

/**/

/* CORPO */

    .tudo{
        width: 1260px;
        height: 100%;
        margin: auto;
    }

    .conteudo{
        width: 882px;
        margin-left:378px;
        margin-top: 6px;
        padding-top: 50px;
        margin-bottom:10px;
        padding-bottom: 20px;
        min-height: 700px;
        background-color: whitesmoke;
        border-radius: 10px;
        z-index:4;
    }

    .conteudo h1{
        margin-bottom:40px;
        text-align:center;
    }

    .projetos{
        display: grid;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 25px;
        border: 1px solid #838383;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(240, 238, 248);
    }
/**/

/* LEGENDA DA TABELA */

    .legenda{
        display: inline-flex;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        height: 50px;
        background-color: #008B8B;
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        text-align: center;
    }

    .leg-box{
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50px;
    }

    .leg-id{
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100px;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }

    .leg-desc{
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 450px;
        border-right: 1px solid white;
    }

    .leg-res{
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        width: 150px;
    }
/**/

/* TABELA */

    .item{
        display: inline-flex;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        height: 50px;
        background-color: rgb(230, 225, 247);
        margin-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }

    .item:hover{
        background-color: #ADD8E6;
    }

    .item-box{
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50px;
        cursor: default;
    }

    .item-id{
        cursor: pointer;
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100px;
        border-left: 1px solid rgb(201, 201, 201);
        border-right: 1px solid rgb(201, 201, 201);
    }

    .item-desc{
        cursor: pointer;
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 450px;
        border-right: 1px solid rgb(201, 201, 201);
    }

    .item-res{
        cursor: pointer;
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        width: 150px;
    }

    .item a{
        color: black;
    }

    input[type=checkbox]
    {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
        cursor: pointer;
    }

/**/

/* BOTOES */

    .botoes{
        display: inline-flex;
    }

    .novo{
        border: 1px solid #555;
        padding: 8px 0;
        border-radius: 5px;
        background-color: #a6d7ff;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 150px;
        padding: 10px;
        height: 50px;
        width: 170px;
    }

    .arq{
        border: 1px solid #555;
        padding: 8px 0;
        border-radius: 5px;
        background-color: #ffc2c2;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 10px;
        padding: 10px;
        height: 50px;
        width: 170px;
        cursor:default;
    }

    .conclui{
        border: 1px solid #555;
        padding: 8px 0;
        border-radius: 5px;
        background-color: #b9fdb0;
        font-weight: bold;
        padding: 10px;
        height: 50px;
        margin-top: 15px;
        margin-left: 10px;
        width: 170px;
        cursor:default;
    }

    .next{
        color: #000000;
        font-size: 25px;
        margin-top:10px;
        margin-left:10px;
    }

    .atual{
        color: #000000; 
        font-size:25px; 
        margin-top:10px; 
        margin-right: 5px;
    }

    .exibir-resultados{
        margin-top:15px; margin-left:190px;  margin-right:150px;
    }

/**/

/* BUSCA */

    .busca input[type=text]{
        border: none;
        width:745px; 
        height:40px;
        background-color: transparent;
        font-size: 20px;
        outline: 0;
    }

    .icon{
        font-size: 25px;
        color: #016fc9;
        text-align: center;
        border: 1px solid #016fc9;
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
    }

    .busca button{
        border: 0px;
        border-radius: 50%; 
        width: 43px;
        height: 43px;
        outline-style:none;
    }

    .busca input{
        margin-left: 10px;
    }

    .busca button:hover{
        background-color: #cce5fa;;
    }

/**/

@media only screen and (max-width: 800px){

    /* CABEÇALHO */

        .aba{
            z-index:1;
            width:100%;
            padding: 0px !important;
            margin-right:6px;
            height:60px;
            border-radius: 0px;
            position:fixed;
            display: flex;
            min-height: 0px;
            min-width: 0px;
        }

        ul{
            margin-left: 10px;
            display: flex;
        }

        .logo{
            margin-left: 0px;
            margin-right: 30px;
            margin-bottom: 10px;
        }
    
        .img-logo{
                height: 50px;
                object-fit: contain;
            }

        .nav-text{
            display:none;
        }

        li a{
            color: black;
            font-size: 25px;
            margin-left: 25px;
        }
    
        .logo h2{
            font-size: 20px;
            padding-top: 15px;
        }

        .menunav{
            display:none;
        }
    
        .navitem{
            display:flex;
            margin-top: 10px;
        }

    /**/

    /* CORPO */

        .tudo{
            width: 823px;
            height: 100%;
            margin: auto;
        }

        .conteudo{
            width: 823px;
            margin-left:1px;
            margin-right:1px;
            margin-top: 0px;
            margin-bottom: 0px;
            min-height:900px;
            background-color: whitesmoke;
            border-radius: 10px;
        }

        .projetos{
            width:770px;
        }

        .conteudo h1{
            margin-top:90px;
            margin-bottom:30px;
        }

    /**/

    /* TABELA */

        .item{
            width:745px;
        }

        input[type=checkbox]{
            z-index:2;
        }

        .item-desc{
            width: 500px;
        }

        .item-res{
            width: 50px;
        }

    /**/

    /* BUSCA */

        .busca input[type=text]{
            width:680px; 
        }

    /**/
    

    /* LEGENDA DA TABELA */

        .legenda{
            width:745px;
        }

        .leg-desc{
            width: 500px;
            overflow:hidden;
        }

        .leg-res{
        width: 50px;
        overflow: hidden;
    }

    /**/

    /* BOTÕES */

        .exibir-resultados{
            margin-right:155px;
        }

        .next{
            font-size: 15px;
            margin-top:17px;
            margin-right:-10px;
        }

        .atual{
            margin-right: 0px;
        }

    /**/

}

@media only screen and (max-width: 700px){

    .aba{
        height:50px;
        width: 100%;
        position:fixed;
        display: flex;
    }
    
    .img-logo{
        height: 40px;
        object-fit: contain;
    }
    
    .logo{
        width: 120px;
    }

    ul{
        margin-left: 10px;
        display: flex;
    }

    .nav-text{
        display:none;
    }
    
    .navitem{
        display:flex;
    }
    
    .logo h2{
        display: none;
    }
    
    li a{
        color: black;
        margin-top: 5px;
        font-size: 20px;
        margin-left: 25px;
    }
    
    .conteudo h1{
        margin-top:40px;
        margin-bottom:30px;
    }
    
    .conteudo{
        margin-top: 0px;
        margin-bottom: 0px;
        min-height: 900px;
    }
    
}

@media only screen and (max-width: 600px){

    .aba{
        overflow: scroll;
        height:50px;
        width: 100%;
        position:fixed;
        display: flex;
    }
    
    .img-logo{
        height: 40px;
        object-fit: contain;
    }
    
    .logo{
        width: 70px;
    }

    ul{
        margin-left: 10px;
        display: flex;
    }

    .nav-text{
        display:none;
    }
    
    .navitem{
        display:flex;
        width: 40px;
    }
    
    .logo h2{
        display: none;
    }
    
    li a{
        color: black;
        font-size: 15px;
        margin-left: 25px;
    }
    
    .conteudo h1{
        margin-top:40px;
        margin-bottom:30px;
    }
    
    .conteudo{
        margin-top: 0px;
        margin-bottom: 0px;
        min-height: 900px;
    }

}